// Import app variables
@import 'app-variables';

// Import the theme’s main ruleset - both index and platform specific.
@import '~nativescript-theme-core/scss/index';
@import '~nativescript-theme-core/scss/platforms/index.android';

// Import common styles
@import 'app-common';

ActionBar {
    background-color: #285477;
    color: #ffffff;
}

.title {
    text-align: left;
    padding-left: 16;
}

.message {
    vertical-align: center;
    text-align: center;
    font-size: 20;
    color: #333333;
}

.drawer-close-button {
  margin-top: 20;
  padding: 10 10 10 10;
  background-color: #999999;
  color: #ffffff;
}
.drawer-login-button {
  margin-top: 20;
  padding: 10 10 10 10;
  background-color: #53ba82;
  color: #ffffff;
}
.drawer-header {
    padding: 50 16 16 16;
    margin-bottom: 16;
    font-size: 24;
    background-color:#f2f5f7;
}

.drawer-item {
    padding: 16 16;
    font-size: 16;
}

.debluebg {
    background-color: #2A5477;
    border-color: #2A5477;
}
